<div class='widget popular-posts'>
  <div class="widget-title"><h2>Pinned posts</h2></div>
  <div class='widget-content popular-posts'>
    <ul>
    {{ range .Site.Taxonomies.pinned.pinned }}
        <li>
          <div class='item-content'>
            <div class='item-thumbnail'>
              <a href='{{ .Permalink }}'>
                <img alt='{{ .Page.Title }}' width='72' height='72' src="/articles/img/thumbs/{{ .Page.Params.article_image }}" />
              </a>
            </div>
            <div class='item-title'>
              <a href='{{ .Permalink }}' class="mostVisitedLink">{{ .Page.Title }}
                <span class="detail-span">[0]</span>
              </a>
            </div>
          </div>
          <div style='clear: both;'></div>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
