<div class='widget currently-reading'>
  <div class="widget-title">
    <h2>Currently Reading</h2></div>
  <div class='widget-content'>
    <div class="loading-basic">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
    </div>
    <div id="gr_updates_widget">
      <iframe id="gr_iframe" src="" width="100%" height="330"></iframe>
      {{/* iframe is loaded via javascript in src/js/goodreads.js */}}
      <a href="https://www.goodreads.com/">
        <img alt="Goodreads: Book reviews, recommendations, and discussion" src="/img/goodreads-logo.png" />
      </a>
    </div>
  </div>
</div>
