@import "compass/utilities";
@import "compass/typography/vertical_rhythm";

@include establish-baseline;

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v17-latin-900.woff2") format("woff2");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: $base-font;
}

p {
  @extend .m-reset-font-color;

  text-align: justify;

  @include adjust-font-size-to(16px);
}

::selection {
  background-color: $details-color;
  color: #fff;
}
