{{partial "head" .}} {{partial "header" (dict "content" . "renderTopImage" false)}}
{{/* <body> */}}
  <div class="main-container pure-g">
    <section id="main" class="pure-u-1 pure-u-md-3-4">
      <div class="projects-container">
      {{- range .Site.Taxonomies.project.true -}}
        <div class="project-container pure-u-1 pure-u-md-1-2">
          <div class="project_image">
            <a class="attach_arrow" href="{{ .Permalink }}">
              <img class="project_image" src="/articles/img/{{ .Params.article_image }}" />
            </a>
          </div>
        </div>
      {{- end -}}
      </div>
    </section><aside class='sidebar-wrapper pure-u-1 pure-u-md-1-4 sticky'>
      {{partial "aside" (dict "content" . "renderTOC" false)}}
    </aside>
    <div class='clearfix'></div>
  </div>
  {{partial "footer" .}}
