<div class="post-container">
  <div class="post-image-container">
    <a href="{{.content.URL}}">
      <img src="/articles/img/{{.content.Params.article_image}}" alt="article image" class="pulse-image" width="100%" height="100%">
    </a>
  </div>
  <div class="article_summary">
    <div class="article-date">
      <i class="fa fa-bookmark"></i>
      <span class="day">{{ .content.Date.Format "2 March 2006" }}</span>
    </div>
    <div class="article-tags">
      {{ range first 5 .content.Params.tags }}
      <a href="search tag" rel="tag">{{.}}</a> {{ end }}
    </div>
    <div class="clearfix"></div>
    <a href="{{ .content.URL }}" title="{{ .Title }}">
      <h1 class="article_title title">{{ .content.Title }}</h1>
    </a>
    <div class="article_excerpt">
      {{ if not $.renderFull }}
      <p>{{.content.Summary}}</p>
      {{ else }}
      <p>{{.content.Content}}</p>
      {{ end }}
    </div>
    <div class="clearfix"></div>
    {{ if $.renderFull }}
    <div class="article_resources">
      <span>Resources</span>
      <ul>
        {{ range $index, $element := .content.Params.resources }}
        <li>
          {{ range $k, $v := $element }}
          <a href="{{$v}}">{{$k}}</a> {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    <div class="article-footer">
      {{ if not $.renderFull }}
      <a class="read-more-button pure-button" href="{{.content.URL}}">Read More</a> {{ end }}
      <div class="soc-sharing">
        <ul id="share_articles" class="article_share_items">
          <li>
            <a class="fa fa-facebook" href="#" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-twitter" href="#" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-google-plus" href="#" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-pinterest" href="#" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-linkedin" href="#" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
          </li>
        </ul>
      </div>
      {{/*
      <div class='blog-pager' id='blog-pager'>
        <span id='blog-pager-newer-link'>
              <a class='blog-pager-newer-link' href="url goes here" id='Blog1_blog-pager-newer-link' title='Newer Posts'>&lt; Newer Posts</a>
            </span>
        <span id='blog-pager-older-link'>
                <a class='blog-pager-older-link' href="url goes here" id='Blog1_blog-pager-older-link' title='Older Posts'>Older Posts &gt;</a>
              </span>
      </div> */}}
    </div>

    <div class='post-footer'>
      {{ if $.renderFull }} {{ partial "author.html" .content}} {{ partial "disqus.html" .content}} {{ end }}
    </div>
  </div>
</div>
