<div class="post-container">
  {{/* <div class="post-image-container">
    {{ if not $.renderFull }}
    <a href="{{.content.URL}}">
      <img src="/articles/img/{{.content.Params.article_image}}" alt="{{ .content.Title }}" class="pulse-image">
    </a>
    {{ end }}
  </div> */}}
  <div class="article_summary">
    <div class="article-date">
      <p class="day"><i class="fa fa-calendar"></i>{{ .content.Date.Format "2 Jan 2006" }}</p>
      <p><i class="fa fa-clock-o"></i>{{ add .content.ReadingTime 1 }} min read  ~ {{ .content.FuzzyWordCount }} words</p>
    </div>
    {{ with .content.Params.tags }}
    <div class="article-tags">
      {{ range first 5 . }}
      <a href="#" rel="tag">{{.}}</a> {{ end }}
    </div>
    {{ end }}
    <div class="clearfix"></div>
    {{ if not $.renderFull }}
    <a href="{{ .content.URL }}" title="{{ .Title }}">
      <h1 class="article_title title">{{ .content.Title }}</h1>
    </a>
    {{ else }}
    <h1 class="article_title title">{{ .content.Title }}</h1>
    {{ end}}
    <div class="article_excerpt">
      {{ if not $.renderFull }}
      <p>{{.content.Summary | markdownify}}</p>
      {{ else }}
      <p>{{.content.Content}}</p>
      {{ end }}
    </div>
    <div class="clearfix"></div>
    {{ if $.renderFull }}
    <div class="article_resources">
      <h2>Resources</h2>
      <ul>
        {{ range $index, $element := .content.Params.resources }}
        <li>
          {{ range $k, $v := $element }}
          <a target="_blank" href="{{$v}}">{{$k}}</a> {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    <div class="article-footer">
      {{ if not $.renderFull }}
      <a class="read-more-button pure-button" href="{{.content.URL}}">Read the full article</a> {{ end }}
      {{ partial "share" .content}}
    </div>

    <div class='post-footer'>
      {{ if $.renderFull }}
       {{ partial "disqus.html" .content}}
     {{ end }}
    </div>
  </div>
</div>
