{{/* TODO: get author from authors array with .Params.author as index */}}
{{ $author := .Site.Params.authors.jeferson }}
<div class='authorboxwrap'>
<!-- <h4>Author</h4> -->
    <div class='avatar-container'>
      <img alt="author's photo" class='author_avatar' width='160' height='136' src="/img/{{ $author.thumbnail }}"  />
      <h4 rel='author'>{{ $author.name }}</h4>
    </div>
    <div class='author_description_container'>
      <p class= 'm-text-centered bio_title'>{{ $author.bio_title | markdownify }}</p>
      <p class= 'm-text-centered'>{{ $author.bio_summary | markdownify }}</p>
      <div class='authorcertifications' style="text-align='center'">
        <a rel="noopener" aria-label="MS DA-100" href='https://www.credly.com/badges/61607538-4cf5-46f2-b0a2-d60a494c46ac/public_url' target='_blank'>
          <img height="24px" width="24px" src="/img/ms-da.png"></img>
        </a>
        <a rel="noopener" aria-label="PSPO I" href='https://www.credly.com/badges/5ba7f4c9-2c97-47a3-9bb5-1901fc7e2dd5/public_url' target='_blank'>
          <img height="24px" width="24px" src="/img/pspo.png"></img>
        </a>
      </div>
      <div class='authorsocial'>
        {{ with .Site.Params.social.linkedin }}
          <a rel="noopener" aria-label="LinkedIn" href='https://www.linkedin.com/in/{{ . }}' target='_blank'>
            <i class='fab fa-linkedin-in'></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.github }}
          <a rel="noopener" aria-label="Github" href='https://github.com/{{ . }}' target='_blank'>
            <i class='fab fa-github'></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.gitlab }}
          <a rel="noopener" aria-label="Gitlab" href='https://gitlab.com/{{ . }}' target='_blank'>
            <i class='fab fa-gitlab'></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.twitter }}
          <a rel="noopener" aria-label="Twitter" href='https://twitter.com/{{ . }}' target='_blank'>
            <i class='fab fa-twitter'></i>
          </a>
        {{ end }}
      </div>
    </div>
</div>
