{{/* TODO: get author from authors array with .Params.author as index */}}
{{ $author := .Site.Params.authors.jeferson }}
<div class='authorboxwrap'>
<!-- <h4>Author</h4> -->
    <div class='avatar-container'>
      <img alt="author's photo" class='author_avatar' width='160' height='136' src="/img/{{ $author.thumbnail }}"  />
      <h4 rel='author'>{{ $author.name }}</h4>
    </div>
    <div class='author_description_container'>
      <p class= 'm-text-centered bio_title'>{{ $author.bio_title | markdownify }}</p>
      <p class= 'm-text-centered'>{{ $author.bio_summary | markdownify }}</p>
      <div class='authorsocial'>
        {{ with .Site.Params.social.linkedin }}
          <a rel="noopener" aria-label="LinkedIn" href='https://www.linkedin.com/in/{{ . }}' target='_blank'>
            <i class='fab fa-linkedin-in'></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.github }}
          <a rel="noopener" aria-label="Github" href='https://github.com/{{ . }}' target='_blank'>
            <i class='fab fa-github'></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.gitlab }}
          <a rel="noopener" aria-label="Gitlab" href='https://gitlab.com/{{ . }}' target='_blank'>
            <i class='fab fa-gitlab'></i>
          </a>
        {{ end }}
        {{ with .Site.Params.social.twitter }}
          <a rel="noopener" aria-label="Twitter" href='https://twitter.com/{{ . }}' target='_blank'>
            <i class='fab fa-twitter'></i>
          </a>
        {{ end }}
      </div>
    </div>
</div>
