<body>
  <header>
    <nav class='top-menu'>
      <!-- menu-wrapper -->
      <div class="menu-wrapper" id="menu">
        <div class="pure-u-1 hidden">
          <div class="pure-menu menu-toogle-container">
            <a class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
          </div>
        </div>
        <div class="pure-u-1">
          <div class="pure-menu pure-menu-horizontal custom-can-transform">
            <ul class="pure-menu-list float-left">
              {{ range .Site.Menus.main }}
              <li class="pure-menu-item"><a class='pure-menu-link' href={{ .URL }}>{{ .Name }}</a></li>
              {{end}}
              <li class='pure-menu-item flag'><i class='fa fa-flag-o' aria-hidden='true'></i></li>
              {{ if .IsTranslated }} {{ range .Translations }}
              <li class='pure-menu-item lang_selector selected'>
                <a class='pure-menu-link' href="{{ .Permalink }}">{{ i18n (default .Lang .Site.Language.LanguageName) }}{{ if .IsPage }} {{ i18n "wordCount" . }}{{ end }}</a>
              </li>
              {{ end}} {{ end }}
            </ul>
            <div class="float-right">
              <ul class="pure-menu-list">
                <li class="pure-menu-item social_menu_entry">
                  <a href='/' target='_blank'><i class='fa fa-facebook'></i></a>
                </li>
                <li class="pure-menu-item social_menu_entry">
                  <a href='/' target='_blank'><i class='fa fa-twitter'></i></a>
                </li>
                <li class="pure-menu-item social_menu_entry">
                  <a href='/' target='_blank'><i class='fa fa-instagram'></i></a>
                </li>
                <li class="pure-menu-item social_menu_entry">
                  <a href='/' target='_blank'><i class='fa fa-linkedin'></i></a>
                </li>
                <li class='pure-menu-item nt-search' id='nt-search'>
                  <form action='/search/' id='searchform' method='get'>
                    <div class='nt-search-input-wrap'>
                      <input class='nt-search-input' id='s' name='q' placeholder='Search' type='text' value='' />
                    </div>
                    <input class='nt-search-submit' id='go' type='submit' value='Search' />
                    <span class='nt fa fa-search'></span>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </nav>
    <!-- /menu-wrapper -->
    <div class='top-image-container' style="background: no-repeat scroll center 50% / cover transparent url('/img/background-full-medium.jpg');">
  </header>
