{{ $linkedin_share_link := ( print "http://www.linkedin.com/shareArticle?mini=true&url=" .Permalink "&title=" .Title "&summary=" .Summary "&source=" .Site.Title )}}
{{ $twitter_share_link := ( print "http://twitter.com/share?text=" .Title "&url=" .Permalink )}}
{{ $fb_share_link := ( print "https://www.facebook.com/sharer/sharer.php?u=" .Permalink ) }}
{{ $gplus_share_link := ( print "https://plus.google.com/share?url=" .Permalink )}}
{{ $pinterest_share_link := ( print "https://pinterest.com/pin/create/button/?url=" .Permalink "&media=" .Site.Params.baseURL .Params.article_image "&description=" .Summary )}}
<div class="soc-sharing">
  <ul class="article_share_items">
    <li>
      <a class="fab fa-linkedin-in" href="{{ $linkedin_share_link}}" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
    </li>
    <li>
      <a class="fab fa-twitter" href="{{ $twitter_share_link }}" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
    </li>
    <li>
      <a class="fab fa-facebook-f" href="{{ $fb_share_link }}" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
    </li>
    <li>
      <a class="fab fa-google-plus-g" href="{{ $gplus_share_link }}" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
    </li>
    <li>
      <a class="fab fa-pinterest-p" href="{{ $pinterest_share_link }}" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false" rel="nofollow" target="_blank"></a>
    </li>
  </ul>
</div>
