{{ $linkedin_share_link := ( print "http://www.linkedin.com/shareArticle?mini=true&url=" .Permalink "&title=" .Title "&summary=" .Summary "&source=" .Site.Title )}}
{{ $twitter_share_link := ( print "http://twitter.com/share?text=" .Title "&url=" .Permalink )}}
{{ $fb_share_link := ( print "https://www.facebook.com/sharer/sharer.php?u=" .Permalink ) }}
{{ $gplus_share_link := ( print "https://plus.google.com/share?url=" .Permalink )}}
{{ $pinterest_share_link := ( print "https://pinterest.com/pin/create/button/?url=" .Permalink "&media=" .Site.Params.baseURL .Params.article_image "&description=" .Summary )}}
<div class="soc-sharing">
  <ul class="article_share_items">
    <li>
      <a rel="noopener" aria-label="LinkedIn" href="{{ $linkedin_share_link}}" rel="nofollow" target="_blank">
        <i aria-hidden="true" class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a rel="noopener" aria-label="Twitter" href="{{ $twitter_share_link }}" rel="nofollow" target="_blank">
        <i aria-hidden="true" class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a rel="noopener" aria-label="Facebook" href="{{ $fb_share_link }}" rel="nofollow" target="_blank">
        <i aria-hidden="true" class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a rel="noopener" aria-label="Google Plus" href="{{ $gplus_share_link }}" rel="nofollow" target="_blank">
        <i aria-hidden="true" class="fab fa-google-plus-g"></i>
      </a>
    </li>
    <li>
      <a rel="noopener" aria-label="Pinterest" href="{{ $pinterest_share_link }}" rel="nofollow" target="_blank">
        <i aria-hidden="true" class="fab fa-pinterest-p"></i>
      </a>
    </li>
  </ul>
</div>
