{{/* {{ .Site | printf "%+v" }} */}}
{{partial "head" .}} {{partial "header" (dict "content" . "renderTopImage" false)}}
{{/* <body> */}}
  <div class="main-container">
    <section id="main" class="pure-u-1 pure-u-md-3-4">
    {{ range (.Paginate (where .Data.Pages "Type" "articles")).Pages }}
      <article>
        {{partial "article" (dict "content" .)}}
      </article>
      {{ end }}
      {{ template "_internal/pagination.html" . }}
    </section><aside class='sidebar-wrapper pure-u-1 pure-u-md-1-4 sticky'>
      {{partial "aside" (dict "content" . "renderTOC" false) }}
    </aside>
    <div class='clearfix'></div>
  </div>
  {{partial "footer" .}}
{{/* </body> */}}
{{/* <html> */}}
