{{/* {{ .Site | printf "%+v" }} */}}
{{partial "head" .}} {{partial "header" (dict "content" . "renderTopImage" false)}}
  <div class="main-container home">
    <section id="main" class="pure-u-1 pure-u-md-3-4">
      {{ $paginator := .Paginate (where .Site.Pages "Type" "articles") }}
      {{ range $paginator.Pages }}
        {{ if .IsPage }}
          <article>
            {{partial "article" (dict "content" .)}}
          </article>
        {{end}}
      {{ end }}
      {{ template "_internal/pagination.html" . }}
    </section><aside class='sidebar-wrapper pure-u-1 pure-u-md-1-4 sticky'>
      {{partial "aside" (dict "content" . "renderTOC" false) }}
    </aside>
    <div class='clearfix'></div>
  </div>
  {{partial "footer" .}}
