a {
  color: $details-color;
  outline: 0;
  text-decoration: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

// Fix anchors on articles because of fixed header
h2[id] {
  padding-top: 15px;
  // margin-top: -1em;
  display: inline-block;
  /* required for webkit browsers */
}
