.highlight, pre {
  border-radius: 8px;
  margin: 15px 0;
}

pre code {
  line-height: 1.6em;
  font-size: 12px;
}

pre {
  font-size: 15px;
  background: #263238;
  padding: 16px 24px;
  color: #FFFFFF;
  font-family: monospace;
}
/* target IE7 and IE6 */
*:first-child+html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}

* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}
