.table_of_contents {
  background-color: $base-color;
  border-radius: 5px;
  padding: 4px;

  // margin-bottom: 20px;
}

#TableOfContents a,
.table_of_contents p {
  color: white;
}

#TableOfContents ul {
  list-style: none;
  margin: 0;
}

#TableOfContents > ul {
  margin-left: 10px;
}

#TableOfContents ul li ul a::before {
  content: '#';
  margin-right: 5px;
  color: black;
  color: $details-color;
}
