article h2::before {
  content: "## ";
  color: #ccc;
}

article h3::before {
  content: "### ";
  color: #ccc;
}

article ul {
  list-style: square;
  margin-left: 20px;
  color: $font-color;
}

#main article:not(:last-child) {
  margin-bottom: 30px;
}

.post-image-container {
  overflow: hidden;
}

.post-container img {
  max-width: 100%;
}

.post-container .post-image-container img {
  @extend %image;
}

.pulse-image {
  @include pulse-image(".post-container");
}

.post-container {
  background-color: $post-container-color;
}

.article_summary {
  padding: 30px 50px;
}

.article_comments {
  margin-left: 10px;
}

.article-date {
  @include adjust-font-size-to(12px);

  text-transform: uppercase;
  color: #222;
  float: left;
}

.article-date i {
  margin-right: 10px;
}

.article_resources {
  border-top: 1px solid $details-color;
  padding: 20px 0;
  margin: 20px 0;
}

.article_resources span {
  display: block;
  color: #ccc;
}

.article-footer {
  overflow: hidden;
  margin: 10px 0;
}

.article-footer .article-tags {
  float: left;
}

@media only screen and (max-width: 900px) {
  .article_summary {
    padding: 30px 20px;
  }

  .read-more-button{
    display: block;
  }

  .soc-sharing {
    text-align: center;
    margin-top: 10px;
    float: none !important;
  }

}
