.authorboxwrap {
  display: inline-block;
  width: 100%;
  // margin-bottom: 40px;
}

.avatar-container {
  text-align: center;
  margin: 0 auto;
}

.avatar-container img {
  height: auto;
}

img.author_avatar {
  width: 140px;
}

.author_description_container {
  padding: 10px 15px;
  margin-top: 20px;
  background: $menu-color;
  position: relative;
  box-shadow: -3px 3px 13px -10px #000;
}

.author_description_container:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: $menu-color;
  border-width: 0 22px 22px 22px;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
}

.author_description_container p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
  padding: 0;
  color: #fff;
}

.authorsocial {
  margin: 10px 0 0;
}

.authorsocial a {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  position: relative;
  margin-right: 2px;
  background: #FF3030;
  padding: 1px 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.authorsocial a i {
  line-height: 25px;
}
@media only screen and (max-width: 900px) {
  .avatar-container {
    margin: 0 auto;
    display: block;
    float: none;
  }

  .author_description_container {
    float: none;
    margin: 0 auto;
  }

  .author_description_container::before {
    display: none;
  }
}
