.float-left {
  @include float(left);
}

.float-right {
  @include float(right);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: $body-color;
  overflow-x: hidden;
}

.clearfix {
  clear: both;
}

.ajax-content-hidden {
  display: none;
}
