.float-left {
  @include float(left);
}

.float-right {
  @include float(right);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

// https://stackoverflow.com/questions/8635799/overflow-xhidden-still-can-scroll
html, body {
  // overflow-x: hidden; breaks sidebar scrolling
  width: 100%;
}

body {
  background-color: $body-color;
  position:relative; // https://stackoverflow.com/questions/8635799/overflow-xhidden-still-can-scroll
}

.clearfix {
  clear: both;
}

.ajax-content-hidden {
  display: none;
}
