.pagination li{
  display: inline-block;
  margin-right: 10px;
}

.pagination li.disabled{
  display: none;
}

.pagination li a{
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 2px 9px;
  background: $menu-color;
  border-radius: 3px;
  cursor: pointer;
}

.pagination li.active a, .pagination li:hover a{
  background-color: $details-color;
}
